<button class="btn btn-default scrape">SCRAPE!</button>

<h1>Science News</h1>

<div class="articles">
    {{#each_upto articles 5}}
        {{!-- {{#if saved}} --}}
        <img src="{{image}}" style="height:100px;">
        <a href="{{link}}"><h2>{{title}}</h2></a>
            <p>{{summary}}</p>
            <button class="btn btn-primary save">SAVE</button>
            <br>
        {{!-- {{else}} --}}

        {{!-- {{/if}} --}}
    {{/each_upto}}
</div>



